Source: linknx
Section: net
Priority: optional
Maintainer: Marc Leeman <marc.leeman@gmail.com>
Uploaders: Marc Leeman <m.leeman@televic.com>,
Build-Depends: debhelper (>= 10),
                libpthsem-dev,
                liblog4cpp5-dev,
                libesmtp-dev,
                pkg-config,
                quilt,
                liblua5.1-0-dev,
                libssl-dev,
                default-libmysqlclient-dev,
                libcurl4-gnutls-dev
Standards-Version: 4.3.0
Homepage: https://sourceforge.net/projects/linknx/

Package: linknx
Architecture: any
Depends: ${shlibs:Depends},
          ${misc:Depends},
          adduser,
          eibd-server
Description: KNX automation platform
 Linknx is an automation platform providing high level functionalities
 to EIB/KNX installation. The rules engine allows execution of actions
 based on complex logical conditions and timers. Lightweight design
 allows it to run on embedded Linux (OpenWRT).
 .
 KNX is a standard used by different vendors for control decentralised
 home automation. Typical control includes light scenes, shutters,
 heating, dimmers and more.
